.custContainer {
    margin-top: 2em;
     width: 70%;
     box-shadow: 0 1px 3px rgba(0,0,0,0.35);
     border-radius: 0.5em;
     min-width: 500px;
}

.colorGrey {
    color: grey !important;
}

.emptyCartH1{
    align-self: center;
    justify-self: center;
}

.custom{
    background-color: #c7ad8a;
}

.flex-y{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: auto;
    height: 80vh;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}