.itemImg {
    width: 100%;
}

.itemInfoContainer{
    width: 80vw;
    margin-top: 8vh;
}

h5{
    color: rgb(187, 187, 187);
}

h6{
    color: grey;
    margin-bottom: 0 !important;
    padding-top: 0.2em;
}

hr{
    color: rgb(187, 187, 187);
}

.prodName{
    opacity: 0.8;;
}

p { 
    padding-top:1em;
    white-space: pre-wrap;
    font-size: 11pt;
}


.custBtn {
    background-color: white;
    padding: 0.2em 0.5em 0.2em 0.5em;
    zoom: 0.8;
    border-style: solid;
    border-radius: 1vh;
    border-width: 2px;
    border-color: rgb(187, 187, 187);
    color: grey;
}

.custBtn:hover {
    background-color: #ab9880;
    color: white;
    border-color:#ab9880;
}

.row-flex{
    display:flex;
    flex-direction: row;
    margin-bottom: 1.5em
}

.categoryLink {
    border-style: none;
}